<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nimblefix.userapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTENAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:name="com.nimblefix.userapp.ThisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NimbleFix"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="com.nimblefix.userapp.userinfo"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.nimblefix.userapp.userReports" />
        <activity
            android:name="com.nimblefix.userapp.dp_opt_dialog"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.nimblefix.userapp.startScan"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            tools:replace="screenOrientation" />
        <activity android:name="com.nimblefix.userapp.Menu" />
        <activity android:name="com.nimblefix.userapp.ComplaintActivity" />
        <activity android:name="com.nimblefix.userapp.ComplaintDoneActivity" />
        <activity android:name="com.nimblefix.userapp.OTP" />
        <activity android:name="com.nimblefix.userapp.SplashScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nimblefix.userapp.SignUp"
            android:noHistory="true" >
        </activity>
    </application>

</manifest>